<!DOCTYPE html>
<html>
<head>
</head>

<body>
<center>
   <table  border="1" width="500">
    <tr>
        <td colspan="2" align="center">Place To Visit</td>
        <td colspan="2" align="center">Disneyland,Japan</td>
    </tr>
    <tr>
        <td width=25%>Location:</td>    <td width=25%>Tokyo</td> 
        <td width=25%>Resort Name:</td> <td width=25%>Disney</td>
    </tr>
    <tr>
        <td colspan="2" align="center">More Information</td>
        <td colspan="2" align="center">
         <a href=https://www.youtube.com/watch?v=kSegNJEAfLo> Tour To Disney
         </a>
        </td>
    </tr> 
    <tr>
        <td colspan="4" align="center">
          <img src="Disney.jpg", width="400">
        </td> 
    </tr>
   </table>
</center>

</body>
</html>
